<a href="https://colab.research.google.com/github/ShaunakSen/Data-Science-and-Machine-Learning/blob/master/Colors_dataset_consolidated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import libraries

In [4]:
!pip install python-Levenshtein
!pip install fuzzywuzzy

Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
     |████████████████████████████████| 51kB 1.6MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein) (50.3.0)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.0-cp36-cp36m-linux_x86_64.whl size=144802 sha256=b6dbccd9a1ec24b79ecb04fa915fe48b414ad099c7e0ef0420a4dbe6d2c6a9f2
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.0
Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [53]:
from urllib.request import urlopen
import json
import os
import pickle
import pandas as pd
import numpy as np

from fuzzywuzzy import fuzz

### Read the JSON data file

In [54]:
with open('./sample_data/colors_data.json') as f:
  data = json.load(f)

In [ ]:
data['colors'][0]

{'hex': '#c93f38',
 'hsl': {'h': 2.896551724137933,
  'l': 50.3921568627451,
  's': 57.31225296442687},
 'luminance': 70.85364929204422,
 'name': '100 Mph',
 'rgb': {'b': 56, 'g': 63, 'r': 201}}

In [55]:
color_names = [color['name'].lower().strip() for color in data['colors']]
print (len(color_names))

25611

### Read csv 1 data file

In [56]:
color_csv1 = pd.read_csv('./sample_data/colorhexa_com.csv')
color_csv1

                  Name Hex (24 bit)  ...  HSL.S (%)  HSL.L (%)
0       Air Force blue      #5d8aa8  ...       30.1       51.2
1           Alice blue      #f0f8ff  ...      100.0       97.1
2     Alizarin crimson      #e32636  ...       77.1       52.0
3               Almond      #efdecd  ...       51.5       87.1
4             Amaranth      #e52b50  ...       78.2       53.3
..                 ...          ...  ...        ...        ...
741             Yellow      #ffff00  ...      100.0       50.0
742      Yellow Orange      #ffae42  ...      100.0       62.9
743       Yellow green      #9acd32  ...       60.8       50.0
744             Zaffre      #0014a8  ...      100.0       32.9
745  Zinnwaldite brown      #2c1608  ...       69.2       10.2

[746 rows x 8 columns]

In [57]:
color_names_1 = [name.lower().strip() for name in color_csv1['Name']]

print (len(color_names_1))

color_csv1['new_name'] = color_names_1

746

### Match: Simple

In [58]:
def simple_match(new_names, names_main):
    unmatched_names, unmatched_count = [], 0
    for name_ in new_names:
        if name_ not in names_main:
            unmatched_count += 1
            if name_ not in unmatched_names:
                unmatched_names.append(name_)
    return unmatched_names, unmatched_count

main_csv1_names, main_csv1_count = simple_match(color_names_1, color_names)

main_csv1_count

89

### Match: Fuzzy

Approach:

Use `fuzz.ratio` to merge the duplicates

In the final match we can use the other techniques

In [59]:
color_csv1.loc[color_csv1['new_name'] == "dark sea green"]

               Name Hex (24 bit)  ...  HSL.L (%)        new_name
197  Dark sea green      #8fbc8f  ...       64.9  dark sea green

[1 rows x 9 columns]

In [60]:
def fuzzy_match(names_missing, names_main, df, main_data):
    mis_count = 0
    # for each missing color
    for mis_ in names_missing:
        mis_count+=1
        # print (f"missing name: {mis_}, {mis_count}")
        found = False
        for main_ in names_main:
            if found:
                break
            else:
                if fuzz.ratio(main_, mis_) > 90:
                    print (main_, "||", mis_)
                    found = True
        if not found:
            ### add the mis_ to the main data
            row = df.loc[df['new_name'] == mis_]
            r, g, b = int(row['Red (8 bit)']), int(row['Green (8 bit)']), int(row['Blue (8 bit)'])
            main_data['colors'].append({'name': mis_, 'rgb': {'b': b, 'g': g, 'r': r}})

    return main_data

modified_main_data = fuzzy_match(main_csv1_names, color_names, color_csv1, data)

burlwood || burlywood
dark seagreen || dark sea green
dark slate grey || dark slate gray
grey asparagus || gray asparagus
hooker's green || hooker green
lavender grey || lavender gray
pastel grey || pastel gray
payne's grey || payne grey
purple mountain majesty || purple mountain's majesty
sand brown || sandy brown
screamin' green || screamin green
storm cloud || stormcloud
terracotta || terra cotta
timber wolf || timberwolf
tropical rainforest || tropical rain forest

In [61]:
len(modified_main_data['colors'])

25685

In [62]:
modified_main_data['colors'][25680:]

[{'name': 'saint patrick blue', 'rgb': {'b': 122, 'g': 41, 'r': 35}},
 {'name': 'slate gray', 'rgb': {'b': 144, 'g': 128, 'r': 112}},
 {'name': 'taupe gray', 'rgb': {'b': 137, 'g': 133, 'r': 139}},
 {'name': 'tawny', 'rgb': {'b': 0, 'g': 87, 'r': 205}},
 {'name': 'tiger eye', 'rgb': {'b': 60, 'g': 141, 'r': 224}}]

In [63]:
color_csv1.loc[color_csv1['new_name'] == 'tawny']

      Name Hex (24 bit)  Red (8 bit)  ...  HSL.S (%)  HSL.L (%)  new_name
663  Tawny      #cd5700          205  ...      100.0       40.2     tawny

[1 rows x 9 columns]

In [64]:
color_names = [color['name'].lower().strip() for color in modified_main_data['colors']]
print (len(color_names))

25685

---

## Read csv 2 data file

In [65]:
color_csv2 = pd.read_csv('./sample_data/wikipedia_color_names.csv')
color_csv2

                   Name  ... HSL.L (%), HSV.S (%), HSV.V (%)
0         Absolute zero  ...                            37.0
1            Acid green  ...                            43.0
2                  Aero  ...                            70.0
3             Aero blue  ...                            89.0
4        African violet  ...                            63.0
...                 ...  ...                             ...
1293        Yellow rose  ...                            50.0
1294    Yellow Sunshine  ...                            50.0
1295             Zaffre  ...                            33.0
1296  Zinnwaldite brown  ...                            10.0
1297               Zomp  ...                            44.0

[1298 rows x 8 columns]

In [66]:
color_names_2 = [name.lower().strip() for name in color_csv2['Name']]

print (len(color_names_2))

color_csv2['new_name'] = color_names_2

1298

In [67]:
main_csv2_names, main_csv2_count = simple_match(color_names_2, color_names)
main_csv2_count

182

In [68]:
modified_main_data = fuzzy_match(main_csv2_names, color_names, color_csv2, modified_main_data)

blue magenta violet || blue-magenta violet
blue violet || blue-violet
burlwood || burlywood
dark seagreen || dark sea green
dark slate grey || dark slate gray
dolphin grey || dolphin gray
go green! || go green
granite grey || granite gray
green pigment || green (pigment)
green yellow || green-yellow
heliotrope grey || heliotrope gray
lavender grey || lavender gray
magenta dye || magenta (dye)
magenta pink || magenta-pink
medium red violet || medium red-violet
medium violet red || medium violet-red
orange yellow || orange-yellow
pale red violet || pale red-violet
pale violet red || pale violet-red
pastel grey || pastel gray
peach orange || peach-orange
peach yellow || peach-yellow
pink orange || pink-orange
plum purple || plump purple
quicksilver || quick silver
red pigment || red (pigment)
robin's egg blue || robin egg blue
rubber || ruber
sand brown || sandy brown
seafoam green || sea foam green
spanish grey || spanish gray
storm cloud || stormcloud
terracotta || terra cotta
timber wolf || timberwolf
tropical rainforest || tropical rain forest
violet blue || violet-blue
vivid red tangelo || vivid red-tangelo
yellow green || yellow-green

In [69]:
len(modified_main_data['colors'])

25829

In [70]:
color_names = [color['name'].lower().strip() for color in modified_main_data['colors']]
print (len(color_names))

25829

---
## Read csv 3 data file

In [71]:
color_csv3 = pd.read_csv('./sample_data/wikipedia_x11_colors.csv')
color_csv3

                              Name  ... HSL.L (%), HSV.S (%), HSV.V (%)
0          Blue, Alice !Alice Blue  ...                            97.0
1    White, Antique !Antique White  ...                            91.0
2                       Aqua !Aqua  ...                            50.0
3           Aquamarine !Aquamarine  ...                            75.0
4                     Azure !Azure  ...                            97.0
..                             ...  ...                             ...
140                   Wheat !Wheat  ...                            83.0
141                   White !White  ...                           100.0
142        WhiteSmoke !White Smoke  ...                            96.0
143                 Yellow !Yellow  ...                            50.0
144     Green Yellow !Yellow Green  ...                            50.0

[145 rows x 8 columns]

In [72]:
color_names_3 = [name.split("!")[1].strip().lower() for name in color_csv3['Name']]

color_names_3[:5]

['alice blue', 'antique white', 'aqua', 'aquamarine', 'azure']

In [73]:
color_csv3['new_name'] = color_names_3

In [74]:
main_csv3_names, main_csv3_count = simple_match(color_names_3, color_names)
main_csv3_count

9

In [75]:
modified_main_data = fuzzy_match(main_csv3_names, color_names, color_csv3, modified_main_data)

burlwood || burlywood
dark seagreen || dark sea green
dark slate grey || dark slate gray
sand brown || sandy brown

In [76]:
len(modified_main_data['colors'])

25834

In [77]:
color_names = [color['name'].lower().strip() for color in modified_main_data['colors']]
print (len(color_names))

25834

## Read csv4 data file

In [78]:
color_csv4 = pd.read_csv('./sample_data/colors4.csv')
color_csv4

                    Name1                  Name2  ... Green (8 bit)  Blue (8 bit)
0      air_force_blue_raf   Air Force Blue (Raf)  ...           138           168
1     air_force_blue_usaf  Air Force Blue (Usaf)  ...            48           143
2    air_superiority_blue   Air Superiority Blue  ...           160           193
3         alabama_crimson        Alabama Crimson  ...            38            56
4              alice_blue             Alice Blue  ...           248           255
..                    ...                    ...  ...           ...           ...
860         yellow_orange          Yellow Orange  ...           174            66
861        yellow_process       Yellow (Process)  ...           239             0
862            yellow_ryb           Yellow (Ryb)  ...           254            51
863                zaffre                 Zaffre  ...            20           168
864     zinnwaldite_brown      Zinnwaldite Brown  ...            22             8

[865 rows x 6 columns]

In [48]:
color_csv4.columns

Index(['Name1', 'Name2', 'Hex', 'Red (8 bit)', 'Green (8 bit)',
       'Blue (8 bit)'],
      dtype='object')

In [79]:
color_names_4 = [name.strip().lower() for name in color_csv4['Name2']]

color_names_4[:5]

['air force blue (raf)',
 'air force blue (usaf)',
 'air superiority blue',
 'alabama crimson',
 'alice blue']

In [80]:
color_csv4['new_name'] = color_names_4

In [81]:
main_csv4_names, main_csv4_count = simple_match(color_names_4, color_names)
main_csv4_count

42

In [84]:
modified_main_data = fuzzy_match(main_csv4_names, color_names, color_csv4, modified_main_data)

blue violet || blue-violet
burlwood || burlywood
dark seagreen || dark sea green
dark slate grey || dark slate gray
green pigment || green (pigment)
green yellow || green-yellow
indigo dye || indigo (dye)
lavender grey || lavender gray
magenta dye || magenta (dye)
medium red violet || medium red-violet
medium violet red || medium violet-red
pale red violet || pale red-violet
pale violet red || pale violet-red
pastel grey || pastel gray
peach orange || peach-orange
peach yellow || peach-yellow
pink orange || pink-orange
red pigment || red (pigment)
robin's egg blue || robin egg blue
sand brown || sandy brown
storm cloud || stormcloud
terracotta || terra cotta
timber wolf || timberwolf
tropical rainforest || tropical rain forest
vermilion cinnabar || vermilion (cinnabar)
violet blue || violet-blue
yellow green || yellow-green

In [85]:
len(modified_main_data['colors'])

25849

In [86]:
color_names = [color['name'].lower().strip() for color in modified_main_data['colors']]
print (len(color_names))

25849

### Covert the json data to csv

In [91]:
test_dict = {'name': 'mini', 'eats': 'chocolate'}

test_dict.get('name2') is None

True

In [95]:
data_to_write = {
    'color_name': [],
    'R': [],
    'G': [],
    'B': [],
    'hex': []
}

for color_data in modified_main_data['colors']:
    data_to_write['color_name'].append(color_data['name'])
    rgb_combo = color_data['rgb']
    data_to_write['R'].append(rgb_combo['r'])
    data_to_write['G'].append(rgb_combo['g'])
    data_to_write['B'].append(rgb_combo['b'])

    if color_data.get('hex') is not None:
        data_to_write['hex'].append(color_data['hex'])
    else:
        data_to_write['hex'].append(None)

print (len(data_to_write['color_name']), len(modified_main_data['colors']))

25849 25849

In [97]:
pd.DataFrame(data=data_to_write).to_csv("./sample_data/color_names_consolidated.csv")