# Hackerearth ML Project: Pet Adoption

> URL: https://www.hackerearth.com/challenges/competitive/hackerearth-machine-learning-challenge-pet-adoption/machine-learning/pet-adoption-9-5838c75b/

---

## Step 1: Import libraries and read data

In [160]:
import os
import pickle

import pandas as pd
import numpy as np
import seaborn as sns
sns.set()

import hyperopt

In [161]:
def read_data(fpath):
    """
    Read the train and test datasets and return the pandas dataframes
    """
    tr_df = pd.read_csv(f"{fpath}/train.csv", index_col="pet_id")
    te_df = pd.read_csv(f"{fpath}/test.csv", index_col="pet_id")
    return tr_df, te_df
fpath = "C:/Users/shaun/Documents/my_projects/Data-Science-and-Machine-Learning/Hackerearth Project - Pet Adoption/Dataset"

tr_df, te_df = read_data(fpath)

In [162]:
tr_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
pet_id,,,,,,,,,,
ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [163]:
te_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
pet_id,,,,,,,,
ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

## Step 2: Exploratory Data Analysis

In [164]:
tr_df.describe(include='all')

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
count,18834,18834,17357.000000,18834,18834.000000,18834.000000,18834.000000,18834.000000,18834.000000,18834.000000
unique,3907,17209,NaN,56,NaN,NaN,NaN,NaN,NaN,NaN
top,2017-03-20 00:00:00,2017-07-28 00:00:00,NaN,Black,NaN,NaN,NaN,NaN,NaN,NaN
freq,41,17,NaN,4620,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.883390,NaN,0.502636,27.448832,5.369598,4.577307,0.600563,1.709143
std,NaN,NaN,0.770434,NaN,0.288705,13.019781,6.572366,3.517763,0.629883,0.717919
min,NaN,NaN,0.000000,NaN,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,0.000000,NaN,0.250000,16.172500,0.000000,1.000000,0.000000,1.000000
50%,NaN,NaN,1.000000,NaN,0.500000,27.340000,0.000000,4.000000,1.000000,2.000000
75%,NaN,NaN,1.000000,NaN,0.760000,38.890000,13.000000,9.000000,1.000000,2.000000
max,NaN,NaN,2.000000,NaN,1.000000,50.000000,19.000000,9.000000,2.000000,4.000000

In [165]:
te_df.describe(include='all')

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
count,8072,8072,7453.000000,8072,8072.000000,8072.000000,8072.000000,8072.000000
unique,2823,7719,NaN,54,NaN,NaN,NaN,NaN
top,2016-11-21 00:00:00,2019-05-04 00:00:00,NaN,Black,NaN,NaN,NaN,NaN
freq,22,6,NaN,1955,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.886623,NaN,0.507265,27.451163,5.254336,4.505327
std,NaN,NaN,0.770950,NaN,0.289615,12.917903,6.505841,3.523568
min,NaN,NaN,0.000000,NaN,0.000000,5.010000,0.000000,0.000000
25%,NaN,NaN,0.000000,NaN,0.260000,16.277500,0.000000,1.000000
50%,NaN,NaN,1.000000,NaN,0.510000,27.410000,0.000000,4.000000
75%,NaN,NaN,1.000000,NaN,0.760000,38.480000,13.000000,9.000000
max,NaN,NaN,2.000000,NaN,1.000000,49.990000,18.000000,9.000000

Col "condition" has missing values in both train and test data

In [166]:
def find_missing_values():
    """
    Check for missing values in each col and return % of missing values (if any)
    """
    tr_data, te_data = pd.DataFrame(tr_df.isnull().sum()*100/len(tr_df), columns=['% missing values']) , pd.DataFrame(te_df.isnull().sum()*100/len(te_df), columns=['% missing values'])
    return tr_data, te_data

tr_missing_data, te_missing_data = find_missing_values()

In [167]:
tr_missing_data

                % missing values
issue_date                0.0000
listing_date              0.0000
condition                 7.8422
color_type                0.0000
length(m)                 0.0000
height(cm)                0.0000
X1                        0.0000
X2                        0.0000
breed_category            0.0000
pet_category              0.0000

In [168]:
te_missing_data

              % missing values
issue_date            0.000000
listing_date          0.000000
condition             7.668484
color_type            0.000000
length(m)             0.000000
height(cm)            0.000000
X1                    0.000000
X2                    0.000000

In [169]:
def statistical_analysis(cols):
    """
    Basic statistical analysis like:
    1. For cont vars display mean, median, quantiles, missing values
    2. For cont var display corr and plots with each other
    3. For cat vars we display freq of each cat
    4. For cat vars display dist of target wrt each cat value
    """

In [170]:
tr_df['breed_category'].value_counts()

0.0    9000
1.0    8357
2.0    1477
Name: breed_category, dtype: int64

### Breed category - unique categories

<img src="./diagrams/diag1.png" height="1000" width="1300">

### Features - how do they influence the distribution of breed category

1. wrt X1:

<img src="./diagrams/diag2.png" height="600" width="1000">

2. wrt X2:

<img src="./diagrams/diag3.png" height="600" width="1000">

3. Since X1 and X2 affect breed v=cat in similar manner is there corr bw them?

- does not seem so

<img src="./diagrams/diag10.png" height="600" width="1000">


3. How does length affect breed? Not much

<img src="./diagrams/diag4.png" height="600" width="1000">

4. How does height affect breed? Slightly lower for breed=0

<img src="./diagrams/diag5.png" height="600" width="1000">

5. How does condition affect breed? - when NULL its always breed = 2
    - simply replace with -1 and create feature with condition_NULL

<img src="./diagrams/diag6.png" height="600" width="600">

In [171]:
tr_df['height(cm)']

pet_id
ANSL_69903     7.78
ANSL_66892    14.19
ANSL_69750    40.90
ANSL_71623    17.82
ANSL_57969    11.06
              ...
ANSL_51738    27.36
ANSL_59900    14.25
ANSL_53210    28.13
ANSL_63468    44.82
ANSL_73558    37.40
Name: height(cm), Length: 18834, dtype: float64

In [172]:
def compute_corr(col1, col2):
    """
    Returns person corr bw col1 and col2
    """
    print ("Train data:", np.corrcoef(x=np.array(tr_df[col1]), y=np.array(tr_df[col2]))[0][1])
    print ("Test data:", np.corrcoef(x=np.array(te_df[col1]), y=np.array(te_df[col2]))[0][1])
    return

print (compute_corr('X1', 'X2'))

print (compute_corr('length(m)', 'height(cm)'))

Train data: 0.5843958932820943
Test data: 0.5918704878368073
None
Train data: -0.004463705709559081
Test data: 0.010284175561638404
None

In [173]:
tr_df['height(m)'] = tr_df['height(cm)']/10
te_df['height(m)'] = te_df['height(cm)']/10

print (tr_df['height(m)'].describe())

print (compute_corr('length(m)', 'height(m)'))

count    18834.000000
mean         2.744883
std          1.301978
min          0.500000
25%          1.617250
50%          2.734000
75%          3.889000
max          5.000000
Name: height(m), dtype: float64
Train data: -0.0044637057095590835
Test data: 0.0102841755616384
None

### Any relationship bw breed and pet categories?

<img src="./diagrams/diag7.png" height="600" width="1000">

- if there had been a one-to-one relationship, then the model we build for one would have been suitable for the other, but it is not so

- so we should build separate models for each

### Issue Date features exploration wrt breed type

1. Year-wise

<img src="./diagrams/diag8.png" height="600" width="1000">

2. Month-wise

- there seems to be some seasonality - maybe encode months further as seasons

<img src="./diagrams/diag9.png" height="600" width="1000">

3. Day-wise: Weekday weekend patterns?

<img src="./diagrams/diag11.png" height="600" width="1000">

- On weekends breed = 1 sales exceed that of breed = 0, so might be helpful to have a feature for this

## Step 3: Feature engineering and Data cleaning for breed type

### Datetime manipulations

In [174]:
tr_df['issue_date']

pet_id
ANSL_69903    2016-07-10 00:00:00
ANSL_66892    2013-11-21 00:00:00
ANSL_69750    2014-09-28 00:00:00
ANSL_71623    2016-12-31 00:00:00
ANSL_57969    2017-09-28 00:00:00
                     ...
ANSL_51738    2017-01-26 00:00:00
ANSL_59900    2016-06-18 00:00:00
ANSL_53210    2010-07-21 00:00:00
ANSL_63468    2017-05-12 00:00:00
ANSL_73558    2011-12-13 00:00:00
Name: issue_date, Length: 18834, dtype: object

In [175]:
tr_df['listing_date']

pet_id
ANSL_69903    2016-09-21 16:25:00
ANSL_66892    2018-12-27 17:47:00
ANSL_69750    2016-10-19 08:24:00
ANSL_71623    2019-01-25 18:30:00
ANSL_57969    2017-11-19 09:38:00
                     ...
ANSL_51738    2018-03-09 15:35:00
ANSL_59900    2017-07-09 08:37:00
ANSL_53210    2018-08-22 14:27:00
ANSL_63468    2018-02-08 14:05:00
ANSL_73558    2018-10-26 14:18:00
Name: listing_date, Length: 18834, dtype: object

Both listing_date and issue_date are cols of type: "object". Lets change that

In [176]:
tr_df['issue_date'] = pd.to_datetime(tr_df['issue_date'])
tr_df['listing_date'] = pd.to_datetime(tr_df['listing_date'])

te_df['issue_date'] = pd.to_datetime(te_df['issue_date'])
te_df['listing_date'] = pd.to_datetime(te_df['listing_date'])

In [177]:
tr_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,height(m)
pet_id,,,,,,,,,,,
ANSL_69903,2016-07-10,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1,0.778
ANSL_66892,2013-11-21,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2,1.419
ANSL_69750,2014-09-28,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4,4.090
ANSL_71623,2016-12-31,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2,1.782
ANSL_57969,2017-09-28,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1,1.106

In [178]:
te_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,height(m)
pet_id,,,,,,,,,
ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,4.273
ANSL_76663,2018-11-15,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,0.671
ANSL_58259,2012-10-11,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,4.121
ANSL_67171,2015-02-13,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,0.846
ANSL_72871,2017-01-18,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,3.092

Check the converted dtypes:

In [179]:
tr_df.dtypes

issue_date        datetime64[ns]
listing_date      datetime64[ns]
condition                float64
color_type                object
length(m)                float64
height(cm)               float64
X1                         int64
X2                         int64
breed_category           float64
pet_category               int64
height(m)                float64
dtype: object

In [180]:
te_df.dtypes

issue_date      datetime64[ns]
listing_date    datetime64[ns]
condition              float64
color_type              object
length(m)              float64
height(cm)             float64
X1                       int64
X2                       int64
height(m)              float64
dtype: object

### Feature: days_bw_list_issue: listing_date - issue_date

In [181]:
days_diff_tr = [day_.days for day_ in tr_df['listing_date']-tr_df['issue_date']]
tr_df['days_bw_list_issue'] = days_diff_tr

days_diff_te = [day_.days for day_ in te_df['listing_date']-te_df['issue_date']]
te_df['days_bw_list_issue'] = days_diff_te

In [182]:
tr_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,height(m),days_bw_list_issue
pet_id,,,,,,,,,,,,
ANSL_69903,2016-07-10,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1,0.778,73
ANSL_66892,2013-11-21,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2,1.419,1862
ANSL_69750,2014-09-28,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4,4.090,752
ANSL_71623,2016-12-31,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2,1.782,755
ANSL_57969,2017-09-28,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1,1.106,52

In [183]:
te_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,height(m),days_bw_list_issue
pet_id,,,,,,,,,,
ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,4.273,4404
ANSL_76663,2018-11-15,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,0.671,174
ANSL_58259,2012-10-11,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,4.121,1999
ANSL_67171,2015-02-13,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,0.846,1148
ANSL_72871,2017-01-18,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,3.092,463

Are there any diff in days which are -ve

In [184]:
tr_df['days_bw_list_issue'].describe()

count    18834.000000
mean       855.306786
std       1096.674990
min        -76.000000
25%        119.000000
50%        392.000000
75%       1117.000000
max       8056.000000
Name: days_bw_list_issue, dtype: float64

In [185]:
tr_df.loc[tr_df['days_bw_list_issue'] < 0]

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,height(m),days_bw_list_issue
pet_id,,,,,,,,,,,,
ANSL_52243,2018-01-17,2018-01-14 15:13:00,2.0,Orange Tabby,0.72,43.19,13,9,0.0,1,4.319,-3
ANSL_63737,2016-11-18,2016-09-03 17:01:00,0.0,Black,0.88,27.82,0,1,1.0,1,2.782,-76

In [186]:
te_df.loc[te_df['days_bw_list_issue'] < 0]

Empty DataFrame
Columns: [issue_date, listing_date, condition, color_type, length(m), height(cm), X1, X2, height(m), days_bw_list_issue]
Index: []

Lets delete these 2 observations from training

In [187]:
print (tr_df.shape)

tr_df = tr_df.loc[tr_df['days_bw_list_issue'] > 0]

print ("After deletion:", tr_df.shape)

(18834, 12)
After deletion: (18832, 12)

In [188]:
print (te_df.shape)

te_df = te_df.loc[te_df['days_bw_list_issue'] > 0]

print (te_df.shape)

(8072, 10)
(8072, 10)

In [189]:
te_df['days_bw_list_issue'].describe()

count    8072.000000
mean      856.057607
std      1103.689752
min        20.000000
25%       122.000000
50%       393.000000
75%      1116.000000
max      9154.000000
Name: days_bw_list_issue, dtype: float64

In the test data there are no -ves

In [190]:
tr_df['days_bw_list_issue'].max()

8056

days_bw_list_issue == 0?

In [191]:
tr_df.loc[tr_df['days_bw_list_issue']==0]

Empty DataFrame
Columns: [issue_date, listing_date, condition, color_type, length(m), height(cm), X1, X2, breed_category, pet_category, height(m), days_bw_list_issue]
Index: []

In [192]:
te_df.loc[te_df['days_bw_list_issue']==0]

Empty DataFrame
Columns: [issue_date, listing_date, condition, color_type, length(m), height(cm), X1, X2, height(m), days_bw_list_issue]
Index: []

### Feature 2: days_bw_list_issue_log2 = log2(days_bw_list_issue)

In [193]:
tr_df['days_bw_list_issue_log2'] = np.log2(tr_df['days_bw_list_issue'])

tr_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,height(m),days_bw_list_issue,days_bw_list_issue_log2
pet_id,,,,,,,,,,,,,
ANSL_69903,2016-07-10,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1,0.778,73,6.189825
ANSL_66892,2013-11-21,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2,1.419,1862,10.862637
ANSL_69750,2014-09-28,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4,4.090,752,9.554589
ANSL_71623,2016-12-31,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2,1.782,755,9.560333
ANSL_57969,2017-09-28,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1,1.106,52,5.700440

In [194]:
tr_df['days_bw_list_issue_log2'].describe()

count    18832.000000
mean         8.643302
std          1.884812
min          4.247928
25%          6.894818
50%          8.614710
75%         10.125413
max         12.975848
Name: days_bw_list_issue_log2, dtype: float64

In [195]:
tr_df.to_csv('tr_df.csv')

<img src="./diagrams/diag12.png" height="600" width="1000">


- As we can see, using the log transform we can discern quite a bit of info on the sale of breed types based on diff in issue and listing dates

In [196]:
te_df['days_bw_list_issue_log2'] = np.log2(te_df['days_bw_list_issue'])

te_df.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,height(m),days_bw_list_issue,days_bw_list_issue_log2
pet_id,,,,,,,,,,,
ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,4.273,4404,12.104599
ANSL_76663,2018-11-15,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,0.671,174,7.442943
ANSL_58259,2012-10-11,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,4.121,1999,10.965063
ANSL_67171,2015-02-13,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,0.846,1148,10.164907
ANSL_72871,2017-01-18,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,3.092,463,8.854868

In [197]:
te_df['days_bw_list_issue_log2'].describe()

count    8072.000000
mean        8.647809
std         1.878908
min         4.321928
25%         6.930737
50%         8.618386
75%        10.124121
max        13.160187
Name: days_bw_list_issue_log2, dtype: float64

### Features 3-8: month, year, is_weekday, is_summer, is_spring, is_winter

In [198]:
def build_date_features():
    """
    Build month, year, weekday (0-6: Mon-Sun), season features
    Jan-April, May-Sep, Oct-Dec 
    """

    ### year as a feature
    year_tr = [date_.year for date_ in tr_df['issue_date']]
    year_te = [date_.year for date_ in te_df['issue_date']]

    ### month as a feature
    month_tr = [date_.month for date_ in tr_df['issue_date']]
    month_te = [date_.month for date_ in te_df['issue_date']]

    ### weekday or not as a feature
    day_of_week_tr = [date_.weekday() for date_ in tr_df['issue_date']]
    day_of_week_te = [date_.weekday() for date_ in te_df['issue_date']]

    is_weekday_tr = [1 if day_ >= 5 else 0 for day_ in day_of_week_tr]
    is_weekday_te = [1 if day_ >= 5 else 0 for day_ in day_of_week_te]

    ### seasonal features
    is_spring_tr = [1 if month_ >=1 and month_ <= 4 else 0 for month_ in month_tr]
    is_spring_te = [1 if month_ >=1 and month_ <= 4 else 0 for month_ in month_te]

    is_summer_tr = [1 if month_ >=5 and month_ <= 9 else 0 for month_ in month_tr]
    is_summer_te = [1 if month_ >=5 and month_ <= 9 else 0 for month_ in month_te]

    is_winter_tr = [1 if month_ >=10 and month_ <= 12 else 0 for month_ in month_tr]
    is_winter_te = [1 if month_ >=10 and month_ <= 12 else 0 for month_ in month_te]

    # print (np.max(is_weekday_tr), np.min(is_weekday_tr), np.max(is_spring_tr), np.min(is_spring_tr), np.max(is_summer_tr), np.min(is_summer_tr), np.max(is_winter_tr), np.min(is_winter_tr))

    # print (np.max(is_weekday_te), np.min(is_weekday_te), np.max(is_spring_te), np.min(is_spring_te), np.max(is_summer_te), np.min(is_summer_te), np.max(is_winter_te), np.min(is_winter_te))
    
    tr_df['year'] = year_tr
    te_df['year'] = year_te
    
    tr_df['month'] = month_tr
    te_df['month'] = month_te
    
    tr_df['is_weekday'] = is_weekday_tr
    te_df['is_weekday'] = is_weekday_te
    
    tr_df['is_spring'] = is_spring_tr
    te_df['is_spring'] = is_spring_te
    
    tr_df['is_summer'] = is_summer_tr
    te_df['is_summer'] = is_summer_te
    
    tr_df['is_winter'] = is_winter_tr
    te_df['is_winter'] = is_winter_te
    
    print (tr_df.describe())
    
    print (te_df.describe())
    
    return

build_date_features()

          condition     length(m)    height(cm)            X1            X2  \
count  17355.000000  18832.000000  18832.000000  18832.000000  18832.000000
mean       0.883377      0.502604     27.447977      5.369477      4.577262
std        0.770403      0.288703     13.019967      6.572364      3.517706
min        0.000000      0.000000      5.000000      0.000000      0.000000
25%        0.000000      0.250000     16.170000      0.000000      1.000000
50%        1.000000      0.500000     27.335000      0.000000      4.000000
75%        1.000000      0.760000     38.890000     13.000000      9.000000
max        2.000000      1.000000     50.000000     19.000000      9.000000

       breed_category  pet_category     height(m)  days_bw_list_issue  \
count    18832.000000  18832.000000  18832.000000        18832.000000
mean         0.600573      1.709218      2.744798          855.401816
std          0.629894      0.717920      1.301997         1096.694388
min          0.000000      0.000000      0.500000           19.000000
25%          0.000000      1.000000      1.617000          119.000000
50%          1.000000      2.000000      2.733500          392.000000
75%          1.000000      2.000000      3.889000         1117.000000
max          2.000000      4.000000      5.000000         8056.000000

       days_bw_list_issue_log2          year         month    is_weekday  \
count             18832.000000  18832.000000  18832.000000  18832.000000
mean                  8.643302   2015.079917      6.824607      0.294339
std                   1.884812      3.103226      3.300548      0.455757
min                   4.247928   1994.000000      1.000000      0.000000
25%                   6.894818   2014.000000      4.000000      0.000000
50%                   8.614710   2016.000000      7.000000      0.000000
75%                  10.125413   2017.000000     10.000000      1.000000
max                  12.975848   2019.000000     12.000000      1.000000

          is_spring     is_summer     is_winter
count  18832.000000  18832.000000  18832.000000
mean       0.269860      0.473025      0.257116
std        0.443899      0.499285      0.437055
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        1.000000      1.000000      1.000000
max        1.000000      1.000000      1.000000
         condition    length(m)   height(cm)           X1           X2  \
count  7453.000000  8072.000000  8072.000000  8072.000000  8072.000000
mean      0.886623     0.507265    27.451163     5.254336     4.505327
std       0.770950     0.289615    12.917903     6.505841     3.523568
min       0.000000     0.000000     5.010000     0.000000     0.000000
25%       0.000000     0.260000    16.277500     0.000000     1.000000
50%       1.000000     0.510000    27.410000     0.000000     4.000000
75%       1.000000     0.760000    38.480000    13.000000     9.000000
max       2.000000     1.000000    49.990000    18.000000     9.000000

         height(m)  days_bw_list_issue  days_bw_list_issue_log2         year  \
count  8072.000000         8072.000000              8072.000000  8072.000000
mean      2.745116          856.057607                 8.647809  2015.087587
std       1.291790         1103.689752                 1.878908     3.112341
min       0.501000           20.000000                 4.321928  1993.000000
25%       1.627750          122.000000                 6.930737  2014.000000
50%       2.741000          393.000000                 8.618386  2016.000000
75%       3.848000         1116.000000                10.124121  2017.000000
max       4.999000         9154.000000                13.160187  2019.000000

             month   is_weekday    is_spring    is_summer    is_winter
count  8072.000000  8072.000000  8072.000000  8072.000000  8072.000000
mean      6.727701     0.288652     0.278741     0.478320     0.242939
std       3.268997     0.453164     0.448408     0.499561     0.428885
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%       4.000000     0.000000     0.000000     0.000000     0.000000
50%       7.000000     0.000000     0.000000     0.000000     0.000000
75%       9.000000     1.000000     1.000000     1.000000     0.000000
max      12.000000     1.000000     1.000000     1.000000     1.000000

### Feature 9: Exploring color types

In [220]:
print (list(tr_df['color_type'].unique()))

['Brown Tabby', 'White', 'Brown', 'Black', 'Red', 'Tricolor', 'Calico', 'Brown Brindle', 'Blue', 'Tortie', 'Gray', 'Fawn', 'Buff', 'Torbie', 'Orange Tabby', 'Sable', 'Tan', 'Blue Tick', 'Orange', 'Blue Tabby', 'Chocolate', 'Black Tabby', 'Black Brindle', 'Cream Tabby', 'Gold', 'Calico Point', 'Blue Merle', 'Red Merle', 'Yellow', 'Lynx Point', 'Blue Cream', 'Flame Point', 'Cream', 'Yellow Brindle', 'Blue Tiger', 'Seal Point', 'Red Tick', 'Brown Merle', 'Black Smoke', 'Gray Tabby', 'Green', 'Tortie Point', 'Blue Smoke', 'Apricot', 'Blue Point', 'Silver Tabby', 'Lilac Point', 'Silver', 'Brown Tiger', 'Liver', 'Agouti', 'Chocolate Point', 'Liver Tick', 'Pink', 'Black Tiger', 'Silver Lynx Point']

Basic preprocessing - lowercase and whitespace trimming

In [223]:
colors_tr = [color_.lower().strip() for color_ in tr_df['color_type']]
colors_te = [color_.lower().strip() for color_ in te_df['color_type']]

tr_df['color_type'] = colors_tr
te_df['color_type'] = colors_te

In [224]:
color_not_in_tr, color_not_in_te = [c for c in colors_te if c not in colors_tr], [c for c in colors_tr if c not in colors_te]

print (color_not_in_tr)

print (color_not_in_te)

[]
['brown tiger', 'brown tiger', 'black tiger', 'brown tiger', 'brown tiger']

Ok, good, so all colors in test are in training

In [225]:
colors_data_html = pd.read_html(io="https://flaviocopes.com/rgb-color-codes/")[0]

colors_data_html

     Color                     Name #RRGGBB (Hex Code) R,G,B (Decimal code)
0      NaN                   maroon            #800000            (128,0,0)
1      NaN                 dark red            #8B0000            (139,0,0)
2      NaN                    brown            #A52A2A          (165,42,42)
3      NaN                firebrick            #B22222          (178,34,34)
4      NaN                  crimson            #DC143C          (220,20,60)
..     ...                      ...                ...                  ...
134    NaN                   silver            #C0C0C0        (192,192,192)
135    NaN  light gray / light grey            #D3D3D3        (211,211,211)
136    NaN                gainsboro            #DCDCDC        (220,220,220)
137    NaN              white smoke            #F5F5F5        (245,245,245)
138    NaN                    white            #FFFFFF        (255,255,255)

[139 rows x 4 columns]

In [226]:
### fix gray color
colors_data_html.loc[colors_data_html['Name'] == 'gray / grey', 'Name'] = 'gray'

In [227]:
### add fawn (229, 170, 112)
### add buff (224, 171, 118)
### add cream ((255, 253, 208))
### add apricot  (251, 206, 177)
### add liver (103, 76, 71)

fawn_row = pd.DataFrame([[np.nan, 'fawn', np.nan, (229, 170, 112)]], columns=colors_data_html.columns)
buff_row = pd.DataFrame([[np.nan, 'buff', np.nan, (224, 171, 118)]], columns=colors_data_html.columns)
cream_row = pd.DataFrame([[np.nan, 'cream', np.nan, (255, 253, 208)]], columns=colors_data_html.columns)
apricot_row = pd.DataFrame([[np.nan, 'apricot', np.nan, (251, 206, 177)]], columns=colors_data_html.columns)
liver_row = pd.DataFrame([[np.nan, 'liver', np.nan, (103, 76, 71)]], columns=colors_data_html.columns)


colors_data_html= colors_data_html.append([fawn_row, buff_row, cream_row, apricot_row, liver_row], ignore_index=True)

In [228]:
colors_data_html.tail()

     Color     Name #RRGGBB (Hex Code) R,G,B (Decimal code)
139    NaN     fawn                NaN      (229, 170, 112)
140    NaN     buff                NaN      (224, 171, 118)
141    NaN    cream                NaN      (255, 253, 208)
142    NaN  apricot                NaN      (251, 206, 177)
143    NaN    liver                NaN        (103, 76, 71)

In [229]:
colors_in_ref_data = [color_.lower().strip() for color_ in colors_data_html['Name']]

In [230]:
colors_unmatched_in_tr = []

for color_ in colors_tr:
    if color_ not in colors_in_ref_data and color_ not in colors_unmatched_in_tr:
        colors_unmatched_in_tr.append(color_)

In [231]:
print (colors_unmatched_in_tr)
print (len(colors_unmatched_in_tr))

['brown tabby', 'tricolor', 'calico', 'brown brindle', 'tortie', 'torbie', 'orange tabby', 'sable', 'blue tick', 'blue tabby', 'black tabby', 'black brindle', 'cream tabby', 'calico point', 'blue merle', 'red merle', 'lynx point', 'blue cream', 'flame point', 'yellow brindle', 'blue tiger', 'seal point', 'red tick', 'brown merle', 'black smoke', 'gray tabby', 'tortie point', 'blue smoke', 'blue point', 'silver tabby', 'lilac point', 'brown tiger', 'agouti', 'chocolate point', 'liver tick', 'black tiger', 'silver lynx point']
37

In [232]:
colors_unmatched_in_te = []
for c_ in colors_unmatched:
    if c_ in colors_te and c_ not in colors_unmatched_in_te:
        colors_unmatched_in_te.append(c_)

In [233]:
print (colors_unmatched_in_te)
print (len(colors_unmatched_in_te))

['brown tabby', 'tricolor', 'calico', 'brown brindle', 'tortie', 'torbie', 'orange tabby', 'sable', 'blue tick', 'blue tabby', 'black tabby', 'black brindle', 'cream tabby', 'calico point', 'blue merle', 'red merle', 'lynx point', 'blue cream', 'flame point', 'yellow brindle', 'blue tiger', 'seal point', 'red tick', 'brown merle', 'black smoke', 'gray tabby', 'tortie point', 'blue smoke', 'blue point', 'silver tabby', 'lilac point', 'agouti', 'chocolate point', 'liver tick', 'silver lynx point']
35

Most of the unmatched colors are in test as well.. So we need to do something about this

#### Handling colors

- the unmatched colors should be given a tag "special color"
- it should be matched to an approximate color
- The special colors can be one-hot encoded

In [261]:
color_ref_dict = {
    'brown tabby': 'brown',
    'tricolor': np.nan, ### replace with the most common color
    'brown brindle': 'brown',
    'calico': 'white',
    'tortie': 'black',
    'torbie': 'brown',
    'orange tabby': 'orange',
    'sable': 'black',
    'blue tick': 'blue',
    'blue tabby': 'blue',
    'black tabby': 'black',
    'cream tabby': 'cream',
    'calico point': 'white', ### merge with calcio
    'blue merle': 'blue', ### merge with merle
    'red merle': 'red',
    'blue cream': 'cream',
    'flame point': 'white', ### point
    'yellow brindle': 'yellow',
    'blue tiger': 'blue',
    'seal point': 'fawn',
    'red tick': 'red',
    'brown merle': 'brown',
    'black smoke': 'black',
    'gray tabby': 'gray',
    'tortie point': 'black',
    'blue smoke': 'blue',
    'silver tabby': 'silver',
    'lilac point': 'white',
    'agouti': 'brown',
    'chocolate point': 'chocolate',
    'liver tick': 'liver',
    'silver lynx point': 'silver',
    'blue point': 'blue',
    'brown tiger': 'brown',
    'black tiger': 'black',
    'lynx point': 'white',
    'black brindle': 'black'
}

specials = ['tricolor', 'calico', 'tortie', 'torbie', 'sable', 'merle', 'point', 'brindle', 'tiger', 'tick', 'tabby', 'lynx point', 'generic']

In [262]:
sorted(specials, key=len, reverse=True)

['lynx point',
 'tricolor',
 'brindle',
 'generic',
 'calico',
 'tortie',
 'torbie',
 'sable',
 'merle',
 'point',
 'tiger',
 'tabby',
 'tick']

In [235]:
def create_color_generic_feature(tr_df, te_df, color_ref_dict, specials):
    """
    1. Col1: generic_color: represents the closest color type
    """
    colors_tr = [color_.lower().strip() for color_ in tr_df['color_type']]
    colors_te = [color_.lower().strip() for color_ in te_df['color_type']]
    
    colors_tr_generic, colors_te_generic = [], []
    for color_ in colors_tr:
        if color_ in color_ref_dict: ## prob color
            colors_tr_generic.append(color_ref_dict[color_])
        else: ## normal color
            colors_tr_generic.append(color_)
    for color_ in colors_te:
        if color_ in color_ref_dict: ## prob color
            colors_te_generic.append(color_ref_dict[color_])
        else: ## normal color
            colors_te_generic.append(color_)
            
    tr_df['generic_color'] = colors_tr_generic
    te_df['generic_color'] = colors_te_generic
    
    return tr_df, te_df

tr_df, te_df = create_color_generic_feature(tr_df, te_df, color_ref_dict, specials)

In [236]:
tr_df['generic_color'].unique()

array(['brown', 'white', 'black', 'red', nan, 'blue', 'gray', 'fawn',
       'buff', 'orange', 'tan', 'chocolate', 'cream', 'gold', 'yellow',
       'green', 'apricot', 'silver', 'liver', 'pink'], dtype=object)

In [237]:
te_df['generic_color'].unique()

array(['black', 'orange', 'brown', 'white', 'fawn', 'red', 'blue', 'tan',
       'apricot', nan, 'gray', 'chocolate', 'yellow', 'buff', 'cream',
       'silver', 'gold', 'green', 'pink', 'liver'], dtype=object)

In [238]:
tr_df['generic_color'].value_counts()

black        5332
brown        4263
white        2996
blue         1399
tan          1349
orange        829
red           562
gray          372
cream         363
chocolate     268
fawn          237
yellow        158
buff          125
silver         46
gold           31
apricot        13
pink            8
green           8
liver           4
Name: generic_color, dtype: int64

In [248]:
print (tr_df['generic_color'].isnull().sum())
print (te_df['generic_color'].isnull().sum())

469
195

In [251]:
tr_df.loc[tr_df['generic_color'].isnull()]['color_type'].unique()

array(['tricolor'], dtype=object)

In [252]:
te_df.loc[te_df['generic_color'].isnull()]['color_type'].unique()

array(['tricolor'], dtype=object)

In [254]:
tr_df.loc[tr_df['color_type'] == 'tricolor', 'generic_color'] = 'black'
te_df.loc[te_df['color_type'] == 'tricolor', 'generic_color'] = 'black'

print (tr_df['generic_color'].isnull().sum())
print (te_df['generic_color'].isnull().sum())

0
0

In [266]:
def create_color_special_feature(tr_df, te_df, color_ref_dict, specials):
    """
    1. special_type: represents the special tag if present else generic
    Try to match with the largest length special tag possible
    """
    colors_tr = [color_.lower().strip() for color_ in tr_df['color_type']]
    colors_te = [color_.lower().strip() for color_ in te_df['color_type']]
    
    special_type_tr, special_type_te = [], []
    
    specials_sorted = sorted(specials, key=len, reverse=True)
    
    # for each color
    for color_ in colors_tr:
        tag_found = False
        # for each tag, check if the tag is in the color
        for tag_ in specials_sorted:
            if tag_ in color_ and not tag_found:
                tag_found = True
                special_type_tr.append(tag_)
        # no tag matched: apply generic tag
        if not tag_found:
            special_type_tr.append("generic")
            
    # for each color
    for color_ in colors_te:
        tag_found = False
        # for each tag, check if the tag is in the color
        for tag_ in specials_sorted:
            if tag_ in color_ and not tag_found:
                tag_found = True
                special_type_te.append(tag_)
        # no tag matched: apply generic tag
        if not tag_found:
            special_type_te.append("generic")
            
    print (len(special_type_tr), len(special_type_te))
    
    tr_df['special_tag'] = special_type_tr
    te_df['special_tag'] = special_type_te
    return tr_df, te_df

tr_df, te_df = create_color_special_feature(tr_df, te_df, color_ref_dict, specials)

18832 8072

In [271]:
tr_df[['color_type', 'generic_color', 'special_tag']].sample(10)

             color_type generic_color special_tag
pet_id
ANSL_55321       tortie         black      tortie
ANSL_61930          red           red     generic
ANSL_52189        white         white     generic
ANSL_75244        brown         brown     generic
ANSL_56302         blue          blue     generic
ANSL_71293          tan           tan     generic
ANSL_71467  brown tabby         brown       tabby
ANSL_50049   blue merle          blue       merle
ANSL_53502        brown         brown     generic
ANSL_60052        white         white     generic

In [273]:
te_df[['color_type', 'generic_color', 'special_tag']].sample(10)

               color_type generic_color special_tag
pet_id
ANSL_73503  brown brindle         brown     brindle
ANSL_50372            tan           tan     generic
ANSL_65114          black         black     generic
ANSL_50908          sable         black       sable
ANSL_72179    brown tabby         brown       tabby
ANSL_59817          black         black     generic
ANSL_61787          white         white     generic
ANSL_68624          black         black     generic
ANSL_51097    brown tabby         brown       tabby
ANSL_69402           blue          blue     generic